@import "tailwindcss";

@layer base {
  html {
    font-family: "Arimo", ui-sans-serif, system-ui, sans-serif;
    scroll-behavior: smooth;
  }
}
* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

section[id] {
  scroll-margin-top: 65px;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


#app {
  max-width: 100%;
  margin: 0 auto;
}
 
.page {
  padding-top: 0;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

