@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}
.page {
  padding-top: 72px;     /* same as navbar height */
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

